/* ------------------------Меню----------------*/
.menu
{
    display:inline-flex;
    flex-direction:row;
    background-color:#6EB2C4;
    position:relative;
    margin-top:4px;
    margin-bottom: 8px;
    min-width:768px;
    max-height:35px;
    padding-left:0px;
    float:none;
    z-index:50;
    text-align: justify;
    justify-content:space-between;
    border-radius:5px;
    box-shadow:0px 3px 5px 0 rgba(0, 0, 0, 0.4);
    
}

.menu > li{
    display: inline-flex;
    list-style:none;
    position:relative;
    vertical-align:central;
    background-color:#6EB2C4;
    /*border-right:solid 1px #808080;*/
    margin:0px;
    height:100%;
    border-color:#739EB4;
    transition:background-color 0.1s ease;
    
}

.menu > li:first-child{
    border-radius: 5px 0px 0px 5px;
    padding-left:0px;
}

.menu > li:last-child
{
    
    padding-right:0px;
    border-radius: 0px 5px 5px 0px;
    border-right:none;
    
}
.menu > li:last-child:hover > ul.submenu {
    /*left:-155px;*/
    /*float:right;
    /*position:relative;
    right:0px;*/

}
.menu > li:last-child > ul.submenu
{
    right:0px;
    /*/left:-155px;*/
    float:right;
}
.menu > li > a{
    background:none;
    color:#FFF;
    text-decoration:none;
    padding:3px;
    display: block; 
    position: relative;
    text-align:center;
}


ul.menu > li:hover{
    background-color:#7EA2D4;
    z-index:40;
    box-shadow:0px 3px 5px 0 rgba(0, 0, 0, 0.6);
}

.menu li:hover .submenu{
    display:block;
    visibility: visible;
}

.submenu
{
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    float:none;
    z-index:100; 
    animation-name:showsubmenu;
    animation-duration:0.5s;
    transition:all ease-in 0.5s;
    transition-property:width;
}


ul.submenu {   /*подменю*/
    display: block;
    visibility:hidden;
    position: absolute;
    width: 200px;
    top: 24px;
   
    padding:0px;
    padding-top:5px;
    margin-top:0px;
    box-shadow:4px 4px 5px 0 rgba(0, 0, 0, 0.26);
    /*background-color:#97d7f8;
    background-color:rgba(255, 255, 255, 1);
      */  
    border-radius:3px;
}

.submenu > li {
    display:flex;
    list-style: none;
    padding: 5px;
    background-color:#6EB2C4;
    border-bottom:solid 1px #FFF;
    /*margin:1px 0px 0px 0px;*/
	transition:background-color 0.1s ease;
}

.submenu > li:first-child {
    border-radius:3px 3px 0px 0px;
    margin-top:0px;
    
}

ul.submenu > li:last-child {
    border-radius:0px 0px 3px 3px;
    border-bottom:none;
}
ul.submenu > li:only-child 
{
    border-width:1px 1px 1px 1px;
    border-radius:3px 3px 3px 3px !important;
    margin-top:0px;
}
ul.submenu > li > a{
    display:flex;
    width:100%;
    background:none;
    color:#FFF;
    text-decoration:none;
    padding:1px;

}
ul.submenu li:hover {
    background:#7EA2D4;
}
@keyframes showsubmenu
{
    from {
        transform:translate(0,-100%);
        /*transform-origin:top;*/
        /*height:0px;*/
    }
    to {
    }
}

/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    text-align: right;
}

    #login a {
        text-decoration: none;
    }

    #login a:hover{
        background-color:#d7eeff;
        border-radius:2px;
    }
    
    #login a.logout{
        text-decoration:underline;
    }
    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }
