/*--- hover #0a5bcc ----*/

html, body{
    margin: 0;
    padding: 0;
    height:100%;
}

html {
    background-color: #e2e2e2;
}

body {
    background-color: #fff;
    color: #333;
    font-size: 0.9em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
.gBlock{
    background-color:#efeeef;
    position:relative;
    min-height:100%;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
    }
.loginView{
    padding: 10px;
    color:white;
    border-radius: 4px;
    margin-bottom:4px;
}

.radibuttonStatus
{
    box-shadow:none;
}
header, footer, hgroup,
nav, section {
    display: block;
}
.navBlock{
    display:block;
    width:calc(100% - 176px);
    background-color: #7ac0da;
    background: linear-gradient(to top, #7ea3d4, #7ac0da);
    padding-left:176px;
    text-align:start;
    z-index:11;
    position:absolute;
    bottom:4px;
    transition:all cubic-bezier(0.02, 0.46, 0.54, 1.02) 0.5s;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
    width:190px;
}

.float-right {
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    background: linear-gradient(to top, #7ac0da, #6eb2c4);
}

.clear-fix:after {
    /*padding-bottom:10px;*/
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-family:Tahoma, sans-serif;
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

/* main layout
----------------------------------------------------------*/
#body {
    padding-top:95px;
    padding-bottom: 40px;
    padding-left:0px;
    padding-right:0px;
    background-color: #efeeef;
    clear: right;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.26) inset;
}

.main-content {
    max-width: calc(100% - 200px);
    margin-left:190px;
    padding-left: 5px;
    padding-right:5px;
    padding-top: 10px;
    bottom:40px;
    transition:all cubic-bezier(0.02, 0.46, 0.54, 1.02) 0.5s;
}

header .content-wrapper {
    padding-top: 10px; 
    text-align:start;
    margin-right: auto;
}
    
header
{
    width:100%;
    position:absolute;
    top:0;
    height:104px;
    z-index:20;
    text-align:center;
}
footer {
    text-align:center;
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    width:100%;
    z-index:21;
    height: 40px;
    position:absolute;
    bottom:0;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.26) inset;
}
.MainHeader
{
    height:95px;
    padding-top:5px;
    background-color: #7ac0da;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Gotham, Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    
    outline: none;
    text-decoration: none;
}

.logoImgLogin
{
    width:200px;
    display:flex;
    margin: 0px auto;
    margin-top: 15px;
}
/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    /*background-color: #fff;
    width:60%;
    min-width:380px;
        */
    float:left;
    height:auto;
    display:block;
    text-align:left;
    clear:left;
    margin-left:auto;
    margin-right:auto;
}
.featured > .content-wrapper
{
    max-width:100%;
}
    .featured .content-wrapper {
        vertical-align:central;
        padding-top:0px;
        color: #3e5667;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }
        .featured hgroup.title h2
        {
            font-size:1.7em;
        }
        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 0px;
    height:30px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* content */
#MainContent_ctl00 > div{
    overflow-x:scroll;
}
/*----сворачивание табличных столбцов------*/
#MainContent_gvCRFs
{
    /*table-layout:fixed;*/
    
}
#MainContent_gvCRFs > tbody > tr > td, th
{
    width:auto;
    word-wrap:break-word;
}
#MainContent_gvCRFs > tbody > tr > th:target
{
    width:20px;
    white-space:nowrap;
    overflow:hidden;
}
/*---конец---*/
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}
.username
{
    text-decoration:none;
}
.loginInfo > li
{
    list-style:none;
}
.loginInfo
{
    padding-left:0px;
}
/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}


.buttonHide
{
    display:none;
}



/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    label {
        display: block;
        font-size: 12px;
        font-weight: 600;
    }

    label.checkbox {
        display: inline;
    }

    input, textarea {
        border: 1px solid #e2e2e2;
        
        background: #fff;
        color: #333;
        font-size: 11px;
        margin: 2px 0 2px 0;
        padding: 5px;
        width: auto;
    }

    textarea {
        font-family: inherit;
        width: 500px;
    }
    
        input:focus, textarea:focus {
            border: 1px solid #7ac0da;
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color:#7ac0da;
        border: 0;
        border-radius:2px;
        cursor: pointer;
        font-size: 11px;
        font-weight: 600;
        color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36) ;
        -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0px 2px 4px;
        padding: 7px;
        margin-right: 8px;
        /*width: auto;*/
    }
    input[type="image"]
    {
        width:17px;
        height:17px;
        padding:3px;
        background-color:rgba(122, 192, 218, 1);/* неплохо*/
        
        /*
        -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0px 0px 10px;
            */
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.20);
            
        border:0;
        border-radius:20px;
        margin:0px 2px 0px 2px;
        
    }

    input[type=text]
    {
        font-size: 13px
    }
    .inputbutton
    {
        background-color:#7ac0da;
        border: 0;
        border-radius:5px;
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.36) ;
        -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0px 2px 4px;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    button:hover
    {
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.36) ;
        color: black;
    }
    /*Наведение на кнопку создать аккаунт и отмена*/
    #MainContent_btnCancel:hover, #MainContent_btnOk:hover, #MainContent_btnUpload:hover, #MainContent_btnSaveChange:hover, 
    input[type=submit]:hover, .addButton > img:hover
    {
        -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0px 4px 8px;
        background-color:#7EA2D4;
    }
    
    input[type=image]:hover
    {
        -webkit-box-shadow: rgba(0, 0, 0, 0.36) 0px 4px 8px;
        background-color:#7EA2D4;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 11px;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
.addSubjectList
{
    list-style-type:none;
    padding:0;
}
.addButton > img{
    background-color:#7ac0da;
    border-radius:2px;
}
/*календарь на добавлении субъекта
*/
.calendarImg
{
    display:inline-block;
    vertical-align:central;
    background-color: #7ac0da;
    border-radius:5px;
    width:31px;
    height:31px;
}
#MainContent_tbDate
{

}
input[title="Следующая CRF"], input[title="Предыдущая CRF"]
{
    display:block;
    margin:6px auto 2px auto;
    right:50%;
}

.loginForm {
    text-align:center;
    width:auto;
    font-size:1.1em;
}

.align-middle
{
    float:none !important;
    text-align:center;
}
.loginForm input
{
    width:200px;
    padding:5px 2px;
    margin-right:0px;
}
.loginForm input[type=checkbox]
{
    width:auto;
}

.loginButton
{
    width:204px !important;
    margin-right: 5px !important;
    border-radius: 2px;
}

.LoginWindow
{
    width: 300px;
    border: solid 1px #aaa;
    background-color:white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: calc(50% - 131px);
    left: calc(50% - 171px);
    padding: 10px;
}
.loginBody
{
    background-color: #87bace;
}
.LoginWindow > h1 
{
    font-family: sans-serif;
}

.loginError{
    position: absolute;
    top: -65px;
    text-align: center;
}
.manageAccountTable 
{
    width:auto;
    margin-bottom:20px;
    box-shadow:none;
}

.manageAccountTable td
{
    display: inline-flex;
    margin-top:5px;
    padding:0px;
    
}
.manageAccountTable tr
{
    
}
.manageAccountTable input
{
    width:220px;
}
.manageAccountTable label
{
    width:200px;
    text-align:left;
    font-size:0.9em;
}

/* tables
----------------------------------------------------------*/
table {
    border-collapse:collapse;
    
    border-spacing:0 1em;
    /*margin-top: 0.75em;*/
    border: 0 none;
    
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    
    -webkit-box-shadow: rgba(0,0,0,0.26) 0px 3px 10px;
    box-shadow:1px 2px 10px 2px rgba(0, 0, 0, 0.26);
    
    width:100%;
}

th {
	font-size: 1.2em;
    text-align: left;
    text-align:center;
    border-top:0;
    border-bottom: 0;
    border-left:1px solid white;
    border-right:1px solid white;
    overflow:hidden;
    /*old background-color:#507CD1;*/
    
    background-color:#5f89da;
}
th::selection
{
    background-color:#a6dbed;
}
th:first-child{
    border-left:0;

    border-radius: 2px 0px 0px 0px !important;
    -moz-border-radius: 2px 0px 0px 0px;
    -webkit-border-radius: 2px 0px 0px 0px;
    
}
th:only-child
{
    border-left:0;
    border-right:0;
    border-radius: 2px 2px 0px 0px !important;
    -moz-border-radius: 2px 2px 0px 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
}
tbody:first-child
{
    border-left:0;

    border-radius: 2px 0px 0px 0px;
    -moz-border-radius: 2px 0px 0px 0px;
    -webkit-border-radius: 2px 0px 0px 0px;
}

th:last-child{
    border-right:0;
    
    border-radius: 0px 2px 0px 0px !important;
    -moz-border-radius: 0px 2px 0px 0px;
    -webkit-border-radius: 0px 2px 0px 0px;
        
}

    th a {
        display: block;
        position: relative;
        
    }

	th a:link, th a:visited, th a:active, th a:hover {
		color: #333;
		font-weight: 600;
		text-decoration: none;
        padding: 0;
	}

	th a:hover {
		color: #000;
	}

    th.asc a, th.desc a {
        margin-right: .75em;
    }
    
    th.asc a:after, th.desc a:after {
		display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
	}

	th.asc a:after {
		content: '▲';
	}

	th.desc a:after {
		content: '▼';
	}


td {
    padding-top:2px;
    padding-bottom:2px;
    border: 0 none;
    text-align:center;
}
tr:last-child > td:first-child
{
    border-left:0;
    
    border-radius: 0px 0px 0px 5px !important;
    -moz-border-radius: 0px 0px 0px 5px;
    -webkit-border-radius: 0px 0px 0px 5px;
    
}
tr:last-child > td:last-child 
{
    border-right:0;

    border-radius: 0px 0px 5px 0px !important;
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px 0px 5px 0px;
        
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


#gvCRFs table{
    border:double;
}

.tableSearch{
    margin-bottom:10px;
}
.tableSearch input{
    margin:0px;
}

.rolesCheck
{
    width:310px;
    box-shadow:0 0 0 0 0;
    font-size:12px;
    font-weight:lighter;
}

.rolesCheck td{
    display:inline-block;
    text-align:left;
    vertical-align:central;
    clear:both;
}
.rolesCheck label
{
    display:inline-block;
    margin-left:3px;
    
    clear:both
}
/*звездочка напротив необходимого поля*/
.requiredValue
{
    color:red;
    vertical-align:super;
    
}
    .requiredValue:hover::after {
        position: absolute;
        content: "Данное поле необходимо заполнить";
        background-color:rgba(255, 255, 255, 0.70);
        vertical-align:super;
    }
/*выбор на главной странице*/
#MainContent_ddlCRF
{
    height:25px;
    border-radius:3px;
    margin-bottom:5px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 2px 4px 0px;
}
.tcCRF{
    float:left;
    width:100%;
    margin-bottom:10px;
}
#MainContent_tcCRF_body
{
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 2px 4px 0px;
}
/* таблица со стрелочками под основным контентом */

.dt {
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 2px 5px;
    margin-bottom: 10px;
    clear:right;
}
.dtleft
{
     border-radius:5px;
}
.dtcenter
{
    border-radius:5px;
}
/*таблицы включения выключения*/
/*header - во всю строчку*/
/*subheader - под размер ячейки*/

.CRFItemHeader
{
    display:flex;
    margin:auto;
    text-align:center;
    font-size:11px;
    font-weight:normal;
    
}
.CRFItemsubHeader
{
    font-size:11px;
    font-weight:500;
    
}
.CRFCellLeftItem 
{
    /*display:inline-flex;
    
    text-align:justify;
    justify-content:space-between;
        */
    
    text-align:right;
    width:100%;
    vertical-align:middle;    
    text-wrap:avoid;
}

.bigHeight > .CRFCellLeftItem
{
    text-align:start;
}
/*Текст правее input*/
.CRFCellLeftItem > span
{
    display:inline-flex;
    margin:auto 0 auto 2px;
}

.CRFLeftItem
{
    float:left;
    display:inline-block;
    font-size:0.8em;
    font-weight:500;
    min-width:50%;
    max-width:50%;
    /*vertical-align:middle;*/
    margin-top:auto;
    margin-bottom:auto;
}

.response-Item
{
    display: inline-flex;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.26);
    align-content:center;
    width:auto;
    
    /*margin-left: auto;*/
    max-height:200px;
    margin-right: auto;
}
.response-Item > tbody > tr > td
{
    display:block;
    text-align:left;
    vertical-align:bottom;
    flex-direction:row;
}
.vertical > tbody > tr > td, .horizontal > tbody > tr > td
{
    display:flex;
    text-align:left;
    vertical-align:bottom;
    flex-direction:row;
}
.vertical > tbody {
    display:inline-block;
}
.response-Item > tbody > tr > td > label, .aspNetDisabled > label, .response-Item > tbody > tr > td > span > label
{
    font-weight:500;
    font-size:0.8em;
    display:inline-flex;
    float:right;
}

.response-Item > tbody > tr > td > input, .aspNetDisabled > input
{
    width:auto;
    margin:0px;
    /*vertical-align:bottom;*/
    vertical-align: text-bottom;
}
.ajax__tab_panel 
{
    
}
.ajax__tab_panel > span
{
    margin:0px;
    margin-right:0px;
    display:inline-block;
    background-color:rgba(152, 227, 255, 0.46);
}
.ajax__tab_panel > table > tbody > tr
{
    flex-wrap:nowrap;
    /*
    display:flex;
    justify-content:space-between;
    border:solid 1px #c8c8c8;*/
     
}

.ajax__tab_panel > table
{
    border-collapse:collapse;
    margin:0px;
    width:100%;
    clear:both;
    box-shadow:0 0 0 0;
}

/*кнопки сохранить*/
.ajax__tab_panel > table > tbody > tr > td > input
{
    display:inline-block;
    text-align:center;
    max-width:100px;
    
}

.field-validation-error 
{
    margin-left:auto;
    float:right;
    font-size:0.75em;
}
.SubjectPageInfo
{
    display:block;
    font-size:1em;
    text-align:center;
}
#MainContent_tcCRF_tpPage input
{
    text-align:left;
    margin-left:0px;
    width:50px;
}

/*главная матрица*/
#MainContent_tMatrix
{
    margin-top: 0px;
}
#MainContent_tMatrix > tbody > tr > td
{
    border:1px solid #c8c8c8;
}
    #MainContent_tMatrix > tbody > tr > td:first-child {
        border-left: none;
    }
    #MainContent_tMatrix > tbody > tr > td:last-child {
        border-right:none;
    }
    #MainContent_tMatrix > tbody > tr:last-child
    {
        border-bottom:none;
    }


#MainContent_tMatrix > tbody > tr:first-child
{
    color:White;
    background-color:#507CD1;
    font-weight:bold;
    border-top:none;
}
    #MainContent_tMatrix > tbody > tr:first-child > td > span::selection {
        background:#a6dbed;
    }
#MainContent_tMatrix > tbody > tr:nth-child(2)
{
    background-color:#7ea2d4;
    color:white;
}

.Horizontal > tbody, .horizontal > tbody
{
    display:inline-flex;
    flex-direction:row;
    white-space:nowrap;
    min-width:100px;
}
.Horizontal > tbody > tr, .horizontal > tbody > tr
{
    display:inline-flex;
    
}

.Vertical > tbody, .vertical > tbody
{
    display:inline-flex;
    flex-direction:column;
    min-width:160px;
    white-space:nowrap;
}
.Horizontal > tbody > tr, .horizontal > tbody > tr
{
    display:inline-flex;
}

/*Широкие таблицы*/
.bigTable > tbody > tr
{
    
    display:table-row;
    padding:2px;
    white-space:normal;
    overflow:hidden;
    border-right:solid 1px #e2e2e2;
}
.bigTable > tbody > tr:nth-child(2n+1) {
    background: rgba(232, 237, 255, 0.7);
}
.bigTable > tbody > tr:first-child {
    border-top:solid 1px #c8c8c8;
}
.bigTable > tbody > tr > td
{
    border-right:solid 1px #c8c8c8;
}
.bigTable > tbody > tr > td:only-child
{
    background-color:#fff;
}
/*header big table*/
.bigHeight > td
{
    width:auto;
    height:auto !important;
}
.bigHeight > .CRFCellLeftItem > .CRFLeftItem
{
    max-width:initial;
}

#MainContent_pnlModalPopup
{
    background-color:#efefef;
    overflow:hidden;
    border-radius: 5px;
    padding: 10px;
    box-shadow:0px 8px 15px 3px #333;
    animation-name:showpopup;
    animation-duration:0.5s;
    transition:all ease-in 0.5s;
    transition-property:width;
}
@keyframes showpopup {
    from {
        transform:scale(0.1);
    }
    to {
    }
}
@keyframes closepopup {
    from {
    }
    to {
        transform:scale(0.1);
    }
}

.StatusResearch
{
    margin:0px;
    list-style-type:none;
    padding-left:0px;
}

.nodes {
    display: inline-flex;
    padding: 10px !important;
    width: 20px !important;
    height: 20px;
    vertical-align: middle;
    background-image: url('../Images/tag-text-outline (1).png');
    background-size: 20px;
}

#MainContent_rbStatus 
{
    width:auto;
    margin-left:15px;
}
#MainContent_rbStatus > tbody > tr > td
{
    text-align:left;
    padding:3px;
}
#MainContent_rbStatus > tbody > tr > td > label
{
    display:inline-flex;
}
.pageCount
{
    vertical-align: super
}

.buttonHide
{
    display:none;
}

.subjectCRFTable
{
    table-layout:fixed;
    width:100%;
    box-shadow:none !important;
} 
.subjectCRFTable > tbody > tr > th 
{
    background-color:rgba(255, 255, 255, 0.00);
    border:none;
}
.midTD
{
    /*
    width:90%;
        */
}
.EventArrow
{
    width:30px;
    overflow-x:visible;
}

.nextEvent {
    display: inline-block;
    width: 30px;
    height: 48px;
    float:right;

    color:rgba(0, 0, 0, 0.00) !important;
    padding-right:10px !important;
    background-position: right center;
    background-image: url('../Images/forward (3).png');
    background-repeat: no-repeat;
    
    margin-right:0px !important;
    -webkit-transition:all ease 0.5s; 
    transition:all ease 0.5s;
    
}
.nextEvent:hover, .prevEvent:hover
{
    width:48px;
    padding-left:20px;
    /*
    -webkit-transition:all ease-in 0.5s; 
    transition:all ease-in 0.5s;
        */
}
.prevEvent {
    display: inline-block;
    width:30px;
    height:48px;
    padding-left:10px !important;
    color:rgba(0, 0, 0, 0.00) !important;
    background-image:url('../Images/backward.png');
    background-repeat:no-repeat;
    -webkit-transition:all ease 0.5s; 
    transition:all ease 0.5s;
}

.nextSubject
{
    display: block;
    margin-top:6px;
    margin-left: auto;
    margin-right: auto !important;
}
.prevSubject
{
    display: block;
    margin-bottom:6px;
    margin-left: auto;
    margin-right: auto !important;
}
.leftMenu
{
    position:absolute;
    min-height:calc(100% - 130px);
    box-sizing:border-box;
    float:left;
    padding-top:10px;
    padding-left: 5px;
    padding-right:5px;
    width:190px;
    border-right: solid;
    border-color: rgba(0, 0, 0, 0.26);
    border-width: 1px;
    background-color:#e2e2e2;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.26);

}
.leftMenu input[type=button] {
    margin:0px;
}
/*
.LegendAndMainBorder {
    position: absolute;
    top: 1px;
    left: 189px;
    /* width: 189px; 
    z-index: 2;
    background-color: darkgray;
    height: 99%;
    width: 1px;
}
*/
#btnShowHideLeftMenu{
    padding:0px;
    position:fixed;
    top:50%;
    width:30px;
    height:30px;
    left:141px;
    margin-left:14px;
    border:20px solid transparent;
    border-left:20px solid #5f89da;
    background-color:transparent;
    box-shadow:none;
    transform:scaleX(-1);
    transition:all cubic-bezier(0.02, 0.46, 0.54, 1.02) 0.2s;
}
#btnShowHideLeftMenu:hover
{

    border:25px solid transparent;
    border-left:25px solid #5f89da;
    margin-left:0px;
    left:141px;
}
.Legend
{
    margin-top:0px;
    box-shadow:none;
}
.Legend th
{
    border-left:0;
    border-right:0;
    border-radius: 0px 0px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}
.Legend tr
{
    display:inline-flex;
    flex-direction:column;
        width: 100%;
}
.Legend td
{
    border-bottom:1px solid #c8c8c8;
    text-align:left;
}
.ActionIc
{
    border-radius: 5px;
    width:26px;
    height:26px;
    padding:0px;
    background-repeat:no-repeat;
    background-position:1px 1px;
}
.Unplaned, .Planed, .Lock
{
    background-color:#7db3f3 !important;
}
.Stopped, .Delete
{
    background-color: #fb4a4a !important;
}
.End, .Unhide, .Approve, .CheckAll
{
    background-color: RGB(168, 208, 144)!important;
}
.Start, .Empty, .Check, .Hide
{
    background-color: #ece421 !important;
}
.Unplaned 
{
    background-image: url('../Images/action/clipboard-text.png');
}
.Planed {
    background-image: url('../Images/action/calendar-clock.png');
}
.Lock {
    background-image: url('../Images/action/file-lock.png');
}
.Stopped {
    background-image: url('../Images/action/alert-octagon.png');
}
.Delete {
    background-image: url('../Images/action/delete-forever.png');
}
.End {
    background-image: url('../Images/action/clipboard-check.png');
}
.Unhide {
    background-image: url('../Images/action/flask.png');
}
.Hide {
    background-image: url('../Images/action/flask-empty-outline.png');
}
.Empty {
    background-image: url('../Images/action/clipboard-outline.png');
}
.Check {
    background-image: url('../Images/action/check.png');
}
.CheckAll {
    background-image: url('../Images/action/check-all.png');
}
.Start {
    background-image: url('../Images/action/message-draw.png');
}
.Approve {
    background-image: url('../Images/action/account-check.png');
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
        width:20%;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 10px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 0px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 50%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    .infImg{
        height:26px;
        width:26px;
    }
    /* forms */
    input {
        width: 90%;
    }

    
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */
